@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rentalbase</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Rentalbase</h2>
        <p>
            Rentalbase is a property management solution which allows landlords to have complete control
            over their business.  The platform facilitates tracking of properties and renters while also
            providing a digital presence for business growth.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage Your Properties</h2>
        <p>
            Find where you are profiting and what is costing you!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Follow Us</h2>
        <p><a class="btn btn-default" href="https://www.twitter.com">Twitter &raquo;</a></p>
    </div>
</div>